* {
  box-sizing: border-box;
  margin: 0;
  font-family:
    clash display,
    Satoshi;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

img{
  max-width: 100%;
}

.priorities {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;

  .priorities-elem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 13px;
    h3 {
      font-family: Clash Display;
      font-weight: 400;
      font-style: Regular;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0%;
      color: #2a254b;
    }

    p {
      font-family: Satoshi;
      font-weight: 400;
      font-style: Regular;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      color: #2a254b;
    }
  }
}

.doston {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 100px;
  h2 {
    font-family: Clash Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 24px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2a254b;
  }
}

.ceramics {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
  row-gap: 50px;
}

.ceramics-elem {
  h3 {
    margin: 24px 0 8px 0;
    font-family: Clash Display;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #2a254b;
  }
  h4 {
    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #2a254b;
  }

  .first {
    background-image: url(./img/1.png);
  }
  .second {
    background-image: url(./img/2.png);
  }
  .third {
    background-image: url(./img/3.png);
  }

  .fourth {
    background-image: url(./img/4.png);
  }
}


  .ceramics-photo:hover {
    filter: brightness(0.88);
    box-shadow:    11px 4px 15px rgba(0, 0, 0, 0.25);

  }
   .popular-photo:hover {
    filter: brightness(0.88);
    box-shadow:    11px 4px 15px rgba(0, 0, 0, 0.25);

  }


.ceramics-photo {
  width: 305px;
  height: 375px;
  background: no-repeat center center/cover;
  box-shadow:    21px 5px 12px rgba(0, 0, 0, 0.392);
  }

.ceramics-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.ceramics-btn {
  width: 150px;
  height: 50px;
  background-color: #f9f9f9;

  border: none;
  cursor: pointer;
}

.ceramics-btn:hover {
    background: linear-gradient(90deg, #d80f0f 0%, #e3ea0b 100%);
  
}

.popular-main{
   display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
  row-gap: 50px;
}

.popular-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.popular-photo {
  height: 375px;
  background: no-repeat center center/cover;
  box-shadow:    21px 5px 12px rgba(0, 0, 0, 0.392);
  }

  
  .popular-photo-first{
      height: 375px;

    width: 635px;
    background: url(./img/sofa.jpg) no-repeat center center/cover ;
  box-shadow:    21px 5px 12px rgba(0, 0, 0, 0.392);
  }

  .popular-photo-second{
      height: 375px;
width: 305px;
    background: url(./img/1.png) no-repeat center center/cover;
  box-shadow:    21px 5px 12px rgba(0, 0, 0, 0.392);
  }

  .popular-photo-third{
      height: 375px;
width: 305px;

    background: url(./img/blackchair.jpg) no-repeat center center/cover;
  box-shadow:    21px 5px 12px rgba(0, 0, 0, 0.392);
  }

.popular-photo-first:hover{
    filter: brightness(0.88);
        box-shadow:    11px 4px 15px rgba(0, 0, 0, 0.25);

}

.popular-photo-second:hover{
    filter: brightness(0.88);
        box-shadow:    11px 4px 15px rgba(0, 0, 0, 0.25);

}

.popular-photo-third:hover{
    filter: brightness(0.88);
        box-shadow:    11px 4px 15px rgba(0, 0, 0, 0.25);

}

.popular{
  h2{
    font-family: Clash Display;
font-weight: 400;
font-style: Regular;
font-size: 32px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: 0%;
color: #2A254B;
  }
}